

<div class="container">
    <a href="/admin/KisiselBilgi" class="btn btn-primary" style="margin-bottom:10px;">Geri</a>

    <form action="/admin/ProjeBilgi/Update/@Model.Id" enctype="multipart/form-data" method="post">

        <img style="margin-bottom:10px;" src="/images/@Model.ProjePhoto" width="250px" style="margin-bottom:10px;" />
        <input name="ProjePhoto" value="@Model.ProjePhoto" hidden />
        <input type="file" name="file" class="form-control" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="ProjeAdi" value="@Model.ProjeAdi" style="margin-bottom:10px;" />
        <textarea class="form-control" name="ProjeAmaci" style="margin-bottom:10px;">@Model.ProjeAmaci</textarea>
        <select class="form-control" name="ProjeCategory"  style="margin-bottom:10px;" >
            <option value="@Model.ProjeCategory">@Model.ProjeCategory</option>
            <option value="Back-End">Back-End</option>
            <option value="Front-End">Front-End</option>
            <option value="Full Stack">Full Stack</option>

        </select>
        <input type="text" class="form-control" name="ProjeninYapildigiKurum" value="@Model.ProjeninYapildigiKurum" style="margin-bottom:10px;" />
        <input type="datetime" class="form-control" name="ProjeAlanAdi" value="@Model.ProjeAlanAdi" style="margin-bottom:10px;" />
        <input type="datetime" class="form-control" name="YapilisTarihi" value="@Model.YapilisTarihi.ToString("dd/MM/yyyy")" style="margin-bottom:10px;" />


        <button type="submit" class="form-control btn btn-primary">Kaydet</button>

    </form>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:15px;">@ViewBag.Message</div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" style="margin-top:15px;">@ViewBag.Error</div>
}
