<div class="container">
    <a href="/admin/EgitimBilgi/Insert" class="btn btn-primary" style="margin-bottom:15px">Yeni Ekle</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Okul Adı</td>
                <td>Bölüm Adı</td>
                <td>Başlangıç Tarihi</td>
                <td>Bitiş Tarihi</td>
                <td>İşlemler</td>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OkulAdi</td>
                    <td>@item.BolumAdi</td>
                    <td>@item.BaslamaYili.ToString("dd-MM-yyyy")</td>
                    <td>@item.MezuniyetYili.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a href="/admin/EgitimBilgi/update/@item.Id" class="btn btn-primary">Güncelle</a>
                        <a href="/admin/EgitimBilgi/delete/@item.Id" class="btn btn-success">Sil</a>


                    </td>

                </tr>
            }


        </tbody>

    </table>
</div>