
<div class="container">
    <a href="/admin/KisiselBilgi" class="btn btn-primary" style="margin-bottom:10px;">Geri</a>

    <form action="/admin/KisiselBilgi/Update/@Model.Id" enctype="multipart/form-data" method="post">
        
        <img style="border-radius:90px 90px 90px 90px; margin-bottom:10px;" src="/images/@Model.ProfilPhoto" width="250px"  style="margin-bottom:10px;" />
        <input name="ProfilPhoto" value="@Model.ProfilPhoto" hidden />
        <input type="file" name="file" class="form-control" style="margin-bottom:10px;"/>
        <input type="text" class="form-control" name="Name" value="@Model.Name" style="margin-bottom:10px;"/>
        <input type="datetime" class="form-control" name="BornDate" value="@Model.BornDate.ToString("dd/MM/yyyy")" style="margin-bottom:10px;"/>
        <input type="text" class="form-control" name="Email" value="@Model.Email" style="margin-bottom:10px;"/>
        <input type="text" class="form-control" name="Password" value="@Model.Password" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="Phone" value="@Model.Phone" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="Linkedin" value="@Model.Linkedin" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="Instagram" value="@Model.Instagram" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="Github" value="@Model.Github" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="Twitter" value="@Model.Twitter" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="Country" value="@Model.Country" style="margin-bottom:10px;" />
        <input type="text" class="form-control" name="Level" value="@Model.Level" style="margin-bottom:10px;" />
        
        <button type="submit" class="form-control btn btn-primary">Kaydet</button>

    </form>
</div>

@if (ViewBag.Message != null)
{
        <div class="alert alert-success" style="margin-top:15px;">@ViewBag.Message</div>
}
@if (ViewBag.Error != null)
{
        <div class="alert alert-danger" style="margin-top:15px;">@ViewBag.Error</div>
}
